@import "../node_modules/bootstrap/scss/bootstrap.scss";



#buy{
	display:flex;
    flex-direction:column-reverse;
}

#alert-validate{
	position:relative;
	top: 50px;
	left: 230px;;
  }

  #menu-cart{
  position:relative;
  bottom:150px;
  }

#imgCart{
	width: 80px;
	height: 80px;
}

#alert-validate{
	position:relative;
	left: 20%;
}

#buy{
	position:relative;
	top:1vh;
}