@import "../node_modules/bootstrap/scss/bootstrap.scss";

footer{
	position:relative;
	top: 1vh;
}


#buy{
	display:flex;
    flex-direction:column-reverse;
}

#alert-validate{
	position:relative;
	top: 50px;
	left: 230px;;
  }

  #menu-cart{
  position:relative;
  bottom:150px;
  }
