@import "../node_modules/bootstrap/scss/bootstrap.scss";

footer{
	position:relative;
	top: 1vh;
	
}

#buy{
	display:flex;
    flex-direction:column-reverse;
}

#alert-validate{
	position:relative;
	top: 50px;
	left: 230px;;
  }

  #menu-cart{
  position:relative;
  bottom:150px;
  }

input:invalid {
          box-shadow: 0 0 5px 1px red;
      }

input:valid {
        border: 2px solid black;
      }